Joseph Delgadillo and Bee Chang

In [13]:
import pandas as pd
df = pd.read_csv('/content/healthcare_data-2.csv')
display(df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [15]:
df.dropna(inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label = le.fit_transform(df['Outcome'])
label
df.drop("Outcome", axis=1, inplace=True)
df["Outcome"] = label
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,3
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,2
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,3
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1
764,2,122,70,27,0,36.8,0.340,27,2
765,5,121,72,23,112,26.2,0.245,30,3
766,1,126,60,0,0,30.1,0.349,47,0
767,1,93,70,31,0,30.4,0.315,23,1

In [17]:
from sklearn import preprocessing

In [20]:
df_scaled = preprocessing.scale(df)
df_scaled=pd.DataFrame(df_scaled,columns=df.columns)
df_scaled['Outcome'] = df['Outcome']
df=df_scaled

In [21]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995,3
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672,1
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584,2
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549,1
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496,3
...,...,...,...,...,...,...,...,...,...
763,1.827813,-0.622642,0.356432,1.722735,0.870031,0.115169,-0.908682,2.532136,1
764,-0.547919,0.034598,0.046245,0.405445,-0.692891,0.610154,-0.398282,-0.531023,2
765,0.342981,0.003301,0.149641,0.154533,0.279594,-0.735190,-0.685193,-0.275760,3
766,-0.844885,0.159787,-0.470732,-1.288212,-0.692891,-0.240205,-0.371101,1.170732,0
767,-0.844885,-0.873019,0.046245,0.656358,-0.692891,-0.202129,-0.473785,-0.871374,1