In [ ]:
# Christopher Rodea
# Bee Chang

In [ ]:
print (2+8)

10

In [ ]:
print(85-48)

37

In [ ]:
print(6*2)

12

In [ ]:
print(20/5)

4.0

In [ ]:
print(2+7+8)

17

In [ ]:
print(8-2*4)

0

In [ ]:
print((7-2)*3)

15

In [ ]:
print(3*4-3)

9

In [ ]:
print((2*4)-3)

5

In [ ]:
print(15/(7-2))

3.0

In [ ]:
print(7+5-3)

9

In [ ]:
print((7+5)-3)

9

In [ ]:
print(7+(5-3))

9

In [ ]:
((7*2)-(2+2))

10

In [ ]:
((3+2)**(4-2))

25

In [ ]:
print(('7+5='),(7+5))

7+5= 12

In [ ]:
print((7*8*2),('is the answer to 7*8*2'))

112 is the answer to 7*8*2

In [ ]:
year = 2023
print(year)
print(year+6)
print(year-3)
print((year-2)+10)
print(('The current year is'), (year))
print(('Two years from now it will be'), (year+2))

2023
2029
2020
2031
The current year is 2023
Two years from now it will be 2025

In [ ]:
year=2023
name=('Fresno')
name=('State')

name=input('Please enter your last name: ')
print(name)

Please enter your last name: Bee
Bee

In [ ]:
a=1+4
b=5+9
c=a+b
c=c+1
print(a)
print(b)
print(c)

5
14
20

In [ ]:
a=10
b = 5
result = a+b 
print((a),('+') , (b), ('-'), (result))

10 + 5 - 15

In [ ]:
hours = int(input('Enter the hours worked this week: '))
#Get the hourly pay rate.
pay_rate = float(input('Enter the hourly pay rate: '))
#Calculate the gross pay
gross_pay = hours * pay_rate
#Display the gross pay
print(f'Gross pay: ${gross_pay:,.2f}')

Enter the hours worked this week: 400
Enter the hourly pay rate: 20
Gross pay: $8,000.00

In [ ]:
name = input('Please enter the worker fullname: ')
hours = int(input('Enter the hours worked this week: '))
#Get the hourly pay rate.
pay_rate = float(input('Enter the hourly pay rate: '))
#Calculate the gross pay
gross_pay = hours * pay_rate
#Display the gross pay
print(f'Gross pay: ${gross_pay:,.2f}')
overtime_hours = int(input('Enter the overtime hours worked this week: '))
overtime_hours_rate = int(input('Enter the hourly overtime pay rate: '))
overtime_pay = overtime_hours * overtime_hours_rate
print(("Overtime pay: " ), overtime_pay)
gross_and_overtime = gross_pay + overtime_pay
print((name), (", your total gross pay is:"), (gross_and_overtime))

Please enter the worker fullname: Bee
Enter the hours worked this week: 40
Enter the hourly pay rate: 16
Gross pay: $640.00
Enter the overtime hours worked this week: 20
Enter the hourly overtime pay rate: 24
Overtime pay:  480
Bee , your total gross pay is: 1120.0

In [ ]:
if 10==10 :
  print('equal')

equal

In [ ]:
if(5*2)==10:
  print('the expression is equal')

the expression is equal

In [ ]:
if(8+3)!=10:
  print('Not equal')

Not equal

In [ ]:
if 8>5:
  print('8 is greater than 5')

8 is greater than 5

In [ ]:
a=6
b=7
c=3
d= ('Fresno')
e= ('State')
if a==(c*2):
  print('6=3*2')
if d!=e:                                # != is used to test for inequality (not equal to)
  print('The names are not the same')
b=9                                                #Note that we added additional lines
print('b has to be set to 9')

6=3*2
The names are not the same
b has to be set to 9

In [ ]:
a=10
b=5
operation = ('unknown operation')
result=('???')
print('Which operation should I perform + or - ?')
operation=input()
if operation==("+"):
  result=a+b
if operation==('_'):
  result=a-b
print((a), operation, (b), ('='), (result))

Which operation should I perform + or - ?
*
10 * 5 = ???

In [ ]:
name=input('Please enter your last name: ')
a = int(input('please enter a number'))
b = int(input('please enter another number'))
operation = ('unknown operation')
result=('???')
print('Which operation should I perform + or - or * or / or **?')
operation=input()
if operation==("+"):
  result=a+b
if operation==('_'):
  result=a-b
if operation==('*'):
  result=a*b
if operation==('/'):
  result=a-b
if operation==('**'):
  result=a**b
print(name, ('here is your answer: '), (a), operation, (b), ('='), (result))

Please enter your last name: Chang
please enter a number21
please enter another number86
Which operation should I perform + or - or * or / or **?
*
Chang here is your answer:  21 * 86 = 1806

In [ ]:
# Chris 
# Bee

# Start of Panda Portion

In [ ]:
import pandas

In [ ]:
import pandas as pd
pandas.__version__

'1.3.5'

In [ ]:
url = 'https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2021-financial-year-provisional/Download-data/annual-enterprise-survey-2021-financial-year-provisional-csv.csv'

df1 = pd.read_csv(url)

display(df1)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [ ]:
df1.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.shape()

TypeError: ignored

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41715 entries, 0 to 41714
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         41715 non-null  int64
 1   Industry_aggregation_NZSIOC  41715 non-null  object
 2   Industry_code_NZSIOC         41715 non-null  object
 3   Industry_name_NZSIOC         41715 non-null  object
 4   Units                        41715 non-null  object
 5   Variable_code                41715 non-null  object
 6   Variable_name                41715 non-null  object
 7   Variable_category            41715 non-null  object
 8   Value                        41715 non-null  object
 9   Industry_code_ANZSIC06       41715 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.2+ MB

In [ ]:
df1.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [ ]:
type(df1.columns)

pandas.core.indexes.base.Index

In [ ]:
df1.dtypes

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [ ]:
type(df1.dtypes)

pandas.core.series.Series

In [ ]:
year_df1 = df1['Year']
print(type(year_df1))
year_df1.head()

<class 'pandas.core.series.Series'>

0    2021
1    2021
2    2021
3    2021
4    2021
Name: Year, dtype: int64

In [ ]:
df1.Year.head()

0    2021
1    2021
2    2021
3    2021
4    2021
Name: Year, dtype: int64

In [ ]:
print(df1.size)
print(df1.shape)

417150
(41715, 10)

In [ ]:
df1[['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC']].head()

   Year Industry_aggregation_NZSIOC Industry_code_NZSIOC
0  2021                     Level 1                99999
1  2021                     Level 1                99999
2  2021                     Level 1                99999
3  2021                     Level 1                99999
4  2021                     Level 1                99999

In [ ]:
df1.loc[0]

Year                                                                        2021
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H01
Variable_name                                                       Total income
Variable_category                                          Financial performance
Value                                                                    757,504
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 0, dtype: object

In [ ]:
df1.loc[99]

Year                                                           2021
Industry_aggregation_NZSIOC                                 Level 4
Industry_code_NZSIOC                                          AA111
Industry_name_NZSIOC                 Horticulture and Fruit Growing
Units                                            Dollars (millions)
Variable_code                                                   H11
Variable_name                                          Depreciation
Variable_category                             Financial performance
Value                                                           278
Industry_code_ANZSIC06         ANZSIC06 groups A011, A012, and A013
Name: 99, dtype: object

In [ ]:
df1.loc[[0, 99, 999]]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
99,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H11,Depreciation,Financial performance,278,"ANZSIC06 groups A011, A012, and A013"
999,2021,Level 4,CC521,Basic Chemical and Basic Polymer Manufacturing,Dollars (millions),H04,Sales of goods and services,Financial performance,"1,573",ANZSIC06 groups C181 and C182

In [ ]:
df1.iloc[0]

Year                                                                        2021
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H01
Variable_name                                                       Total income
Variable_category                                          Financial performance
Value                                                                    757,504
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 0, dtype: object

In [ ]:
df1.iloc[99]

Year                                                           2021
Industry_aggregation_NZSIOC                                 Level 4
Industry_code_NZSIOC                                          AA111
Industry_name_NZSIOC                 Horticulture and Fruit Growing
Units                                            Dollars (millions)
Variable_code                                                   H11
Variable_name                                          Depreciation
Variable_category                             Financial performance
Value                                                           278
Industry_code_ANZSIC06         ANZSIC06 groups A011, A012, and A013
Name: 99, dtype: object

In [ ]:
df1.iloc[[0,99,999]]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
99,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H11,Depreciation,Financial performance,278,"ANZSIC06 groups A011, A012, and A013"
999,2021,Level 4,CC521,Basic Chemical and Basic Polymer Manufacturing,Dollars (millions),H04,Sales of goods and services,Financial performance,"1,573",ANZSIC06 groups C181 and C182

In [ ]:
df1.loc[[0,99,999], ['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC']]

     Year Industry_aggregation_NZSIOC Industry_code_NZSIOC
0    2021                     Level 1                99999
99   2021                     Level 4                AA111
999  2021                     Level 4                CC521

In [ ]:
df1.head(n=10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...

In [ ]:
df.groupby('Year')['Units'].mean() #there's only one int/float type in this dataset and acomparison cannot be drawn